<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--    <script type="text/javascript" src="../js/app.js"></script>-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script>
        //Handler for the new asset submission button
        $(document).ready(function () {
            $("#newAssetForm").submit(function(){
                console.log("Click")
                //Execute the submit new asset function
                submitVideo();

            });
        });



        function submitVideo(){

            let title = $('#Title').val();
            let publisher = $('#Publisher').val();
            let producer = $('#Producer').val();
            let genre = $('#Genre').val()
            let ageRating = $('#AgeRating').val();
            let fileName = $("#FileName").val();
//Post the form data to the endpoint, note the need to set the content type header
            // THIS WORKS FOR JUST FORM DATA! You need to work out just to post file on its own and then form data
            $.ajax({
                url: "/videos",
                data: JSON.stringify({ title:title,
                    publisher: publisher,
                    producer : producer,
                    genre : genre,
                    ageRating: ageRating,
                    fileName:fileName}),
                cache: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                type: 'POST',
                success: function(data){
                    alert(data)
                }
            });



        }
        function submitVideoFile() {
            // let file = $("#VideoFile")[0];
            let data = new FormData();
            data.append('videoFile', $("#VideoFile")[0].files[0])

            $.ajax({
                url: "/videos/upload",
                data: data,
                cache: false,
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    alert(data)
                }
            });
        }
    </script>
</head>
<body>
<h1>Admin dashboard</h1>
<div class="container">
    <form class="ui-button" method="post" th:action="@{/logout}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>
    </div>

<!--New Asset Box th:object="${video}"-->
<div class="row align-items-start">
    <div class="col-2"  ></div>

    <div class="col-8" style="text-align: left;border-bottom:1px solid #222222;">
        <p>Add Video</p>
        <form style="font-size: 10pt;" id="newAsset">

            <div class="mb-3">
                <label for="VideoFile" class="form-label">Video To Upload</label>
                <input type="file" class="form-control" id="VideoFile">
            </div>

            <button type="button" id="newForm" class="btn btn-primary" onclick="submitVideoFile()">Submit</button> <br/><br/>

        </form>


        <form style="font-size: 10pt;" id="newAssetForm">
            <div class="mb-3">
                <label for="Title" class="form-label">Tile</label>
                <input type="text" class="form-control" id="Title">
            </div>
            <div class="mb-3">
                <label for="Publisher" class="form-label">Publisher</label>
                <input type="text" class="form-control" id="Publisher">
            </div>
            <div class="mb-3">
                <label for="Producer" class="form-label">Producer</label>
                <input type="text" class="form-control" id="Producer">
            </div>
            <div class="mb-3">
                <label for="Genre" class="form-label">Genre</label>
                <input type="text" class="form-control" id="Genre">
            </div>
            <div class="mb-3">
                <label for="AgeRating" class="form-label">Age Rating</label>
                <input type="text" class="form-control" id="AgeRating">
            </div>

            <div class="mb-3">
                <label for="FileName" class="form-label">File Name (same as uploaded file)</label>
                <input type="text" class="form-control" id="FileName">
            </div>

<!--            <div class="mb-3">-->
<!--                <label for="VideoFile" class="form-label">Video To Upload</label>-->
<!--                <input type="file" class="form-control" id="VideoFile">-->
<!--            </div>-->

            <button type="button" id="subNewForm" class="btn btn-primary" onclick="submitVideo()">Submit</button> <br/><br/>

        </form>
    </div>

    <div class="col-2"  ></div>
</div>



</body>
</html>