<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--    <script type="text/javascript" src="../js/app.js"></script>-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script>
        let result;

        $(document).ready(function(){
            $.ajax({
                url: "/videos",
                type: 'GET',
                dataType: 'json',
                success: function(res) {
                    result = res;
                    console.log("The result is" + res);
                    alert(res);
                }
            });
        });

        $(document).ready(function(){
            $('#ImageList').html('<div class="spinner-border" role="status"><span class="sr-only"> &nbsp;</span>');
            $.getJSON(result, function( data ) {
                //Create an array to hold all the retrieved assets
                let items = [];
                //Iterate through the returned records and build HTML, incorporating the key values of the record in the data

                /*
                 "id": "fdasdffddefdsa",
    "title": "dfas",
    "publisher": "fdas",
    "producer": "fdas",
    "genre": "fda",
    "ageRating": "dfasf",
    "fileName": "https://videostreamingservice.blob.core.windows.net/videodata/WIN_20221121_22_10_01_Pro.mp4",
    "comments": null,
    "likes": null,
    "dateOfUpload": "2022-11-22T11:10:25.822477800",
                 */
                $.each( data, function( key, val ) {
                    items.push( "<hr />");
                    items.push(" <video controls width='250'>" + "<source src=' " + val['filename'] + "'> " +
                        "'<a href='" + val['fileName'] + "'>MP4</a>" + "</video> <br/>");


                    items.push( "File : " + val["title"] + "<br />");
                    items.push( "Uploaded by: " + val["publisher"] + "<br />");
                    items.push( "<hr />");
                });
                //Clear the assetlist div
                $('#ImageList').empty();
                //Append the contents of the items array to the ImageList Div
                $( "<ul/>", {
                    "class": "my-new-list",
                    html: items.join( "" )
                }).appendTo( "#ImageList" );
            });
        });




        // function getImages(){
        //     //Replace the current HTML in that div with a loading message
        //
        // }
    </script>
</head>
<body>
<h1>Video dashboard</h1>

    <div id="ImageList">
<!--        <video controls width="250">-->


<!--            <source src="https://videostreamingservice.blob.core.windows.net/videos/WIN_20221121_22_10_07_Pro.mp4">-->

<!--            Download the-->

<!--            <a href="https://videostreamingservice.blob.core.windows.net/videodata/WIN_20221121_22_10_07_Pro.mp4">MP4</a>-->
<!--            video.-->
<!--        </video>-->

    </div>
</body>
</html>