<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--    <script type="text/javascript" src="../js/app.js"></script>-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script>
        let valueOfVideo = null;


        // let result;
        //
        // $(document).ready(function(){
        //     $.ajax({
        //         url: "/videos",
        //         type: 'GET',
        //         dataType: 'json',
        //         success: function(res) {
        //             result = res;
        //             console.log("The result is" + res);
        //             getVideos();
        //         }
        //     });
        // });
        function getVideos() {
            let title = $('#Search').val();
            $.ajax({
                url: "/videos",
                data: {
                    title:title,
                } ,

                dataType: "json",

                type: 'GET',
                success: function(data){
                    let items = [];
                    $.each( data, function( key, val ) {
                        valueOfVideo = val;
                        items.push( "<hr/>");
                        items.push("<div>")
                        items.push( "Title: " + val["title"] + "- Age: " +  val['ageRating'] +  "<br/>");
                        items.push(" <video controls width='500'>" + "<source src=' " + val['fileName'] + "'> " +
                            "'<a href='" + val['fileName'] + "'>MP4</a>" + "</video> <br/>");
                        items.push( "Genre: " + val["genre"] + "<br/>");
                        items.push( "Publisher: " + val["publisher"] + " Producer: " + val['producer'] + "<br/>");
                        // add the like count to run a function to

                        items.push("<button type='button' onclick='postLike()'>Likes</button>"  + "Likes: " + val['likes']  + "<br/>")

                        items.push("'<input type='text' id='Comments'/>" + "<br/>" + "<button type='button' onclick='postComment()'>Post</button>" + "<br/>")

                        items.push("Comments: " + val['comments'] + "<br/>")
                        items.push("</div>")

                        // items.push("Comments: " + "" + "<br/>")
                        items.push( "<hr/>");
                    });

                    //Clear the assetlist div
                    $('#VideoList').empty();
                    //Append the contents of the items array to the ImageList Div
                    $( "<ul/>", {
                        "class": "my-new-list",
                        html: items.join( "" )
                    }).appendTo( "#VideoList" )
                }
            });
        }

        // function getVideos() {
        //     console.log("Videos are --------")
            $(document).ready(function(){
                // $('#VideoList').html('<div class="spinner-border" role="status"><span class="sr-only"> &nbsp;</span>');
                $.getJSON("/videos", function( data ) {
                    //Create an array to hold all the retrieved assets
                    let items = [];



                    //Iterate through the returned records and build HTML, incorporating the key values of the record in the data

                    /*
                     "id": "fdasdffddefdsa",
        "title": "dfas",
        "publisher": "fdas",
        "producer": "fdas",
        "genre": "fda",
        "ageRating": "dfasf",
        "fileName": "https://videostreamingservice.blob.core.windows.net/videodata/WIN_20221121_22_10_01_Pro.mp4",
        "comments": null,
        "likes": null,
        "dateOfUpload": "2022-11-22T11:10:25.822477800",
                     */
                    $.each( data, function( key, val ) {
                        valueOfVideo = val;
                        items.push( "<hr/>");
                        items.push("<div>")
                        items.push( "Title: " + val["title"] + "- Age: " +  val['ageRating'] +  "<br/>");
                        items.push(" <video controls width='500'>" + "<source src=' " + val['fileName'] + "'> " +
                            "'<a href='" + val['fileName'] + "'>MP4</a>" + "</video> <br/>");
                        items.push( "Genre: " + val["genre"] + "<br/>");
                        items.push( "Publisher: " + val["publisher"] + " Producer: " + val['producer'] + "<br/>");
                        // add the like count to run a function to

                        items.push("<button type='button' onclick='postLike()'>Likes</button>"  + "Likes: " + val['likes']  + "<br/>")

                        items.push("'<input type='text' id='Comments'/>" + "<br/>" + "<button type='button' onclick='postComment()'>Post</button>" + "<br/>")

                        items.push("Comments: " + val['comments'] + "<br/>")
                        items.push("</div>")

                        // items.push("Comments: " + "" + "<br/>")
                        items.push( "<hr/>");
                    });

                    //Clear the assetlist div
                    $('#VideoList').empty();
                    //Append the contents of the items array to the ImageList Div
                    $( "<ul/>", {
                        "class": "my-new-list",
                        html: items.join( "" )
                    }).appendTo( "#VideoList" );
                });
            });
            // this function will update the like count in the database for the video
            function postLike() {
                if(valueOfVideo != null) {
                    let countLikeValue = valueOfVideo['likes'];
                    if(countLikeValue == null) {
                        countLikeValue = 0;
                    }
                    // covert to number
                    let videoLikeCountToNumber = parseInt(countLikeValue);
                    let newLikeValue = videoLikeCountToNumber + 1;
                    let likeToText = newLikeValue.toString();
                    // now post the new like count
                    const completeUrl = "/videos/" + valueOfVideo['id'] + "/likes";
                    $.ajax({
                        url: completeUrl,
                        data: JSON.stringify({
                            comment: "comment",
                            like: likeToText}),
                        cache: false,
                        // crossDomain: true,
                        // headers: {  'Access-Control-Allow-Origin': '*' },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        processData: false,
                        type: 'POST',
                        success: function(data){
                            alert(data)
                        }
                    });
                }
            }

            function postComment() {
                let comment = $('#Comments').val();
                console.log("Comment is: " + comment)
                const completeUrl = "/videos/" + valueOfVideo["id"] + "/comments"
                if(valueOfVideo != null) {
                    let commentOfVideo = comment;
                    if(commentOfVideo == null) {
                        commentOfVideo = "No comment";
                    }
                    $.ajax({
                        url: completeUrl,
                        data: JSON.stringify({
                            comment: commentOfVideo, like: ""}),
                        cache: false,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        processData: false,
                        type: 'POST',
                        success: function(data){
                            alert(data)
                        }
                    });
                }
            }

    </script>
</head>
<body>
<h1>Video dashboard</h1>
<!-- Form to search for the video -->
<div class="mb-3">
    <label for="Search" class="form-label">Search By Title</label>
    <input type="text" class="form-control" id="Search">
</div>
<br/>
<button type="button" id="subNewForm" class="btn btn-primary" onclick="getVideos()">Search</button> <br/>

    <div id="VideoList">

    </div>
</body>
</html>